rgb
[{"id":"e73ec831.5fe0a8","type":"inject","z":"a99b8510.8054b8","name":"onLoad","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":105,"y":432,"wires":[["82dd2d01.1b8cf","5b68951.437866c","a9cb13d7.4b5a8"]]},{"id":"82dd2d01.1b8cf","type":"ui_slider","z":"a99b8510.8054b8","tab":"e270ef70.d0a77","name":"Red","topic":"","group":"RGB LEDs","order":1,"min":0,"max":"100","x":261,"y":166,"wires":[["196502aa.45c07d"]]},{"id":"5b68951.437866c","type":"ui_slider","z":"a99b8510.8054b8","tab":"e270ef70.d0a77","name":"Green","topic":"","group":"RGB LEDs","order":1,"min":0,"max":"100","x":262,"y":261,"wires":[["41a32e1b.63932"]]},{"id":"a9cb13d7.4b5a8","type":"ui_slider","z":"a99b8510.8054b8","tab":"e270ef70.d0a77","name":"Blue","topic":"","group":"RGB LEDs","order":1,"min":0,"max":"100","x":262,"y":357,"wires":[["6135a58b.42c6cc"]]},{"id":"196502aa.45c07d","type":"function","z":"a99b8510.8054b8","name":"toString","func":"msg.payload = \"pwm03\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":214,"wires":[["218e1bd.9fda3e4"]]},{"id":"41a32e1b.63932","type":"function","z":"a99b8510.8054b8","name":"toString","func":"msg.payload = \"pwm02\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":314,"wires":[["218e1bd.9fda3e4"]]},{"id":"6135a58b.42c6cc","type":"function","z":"a99b8510.8054b8","name":"toString","func":"msg.payload = \"pwm04\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":469,"y":417,"wires":[["218e1bd.9fda3e4"]]},{"id":"218e1bd.9fda3e4","type":"serial out","z":"a99b8510.8054b8","name":"Arduino","serial":"3a1aeb33.47d014","x":667,"y":121,"wires":[]},{"id":"1bf4991b.0f82f7","type":"serial in","z":"a99b8510.8054b8","name":"Arduino","serial":"3a1aeb33.47d014","x":105,"y":88,"wires":[["423c5454.9a220c"]]},{"id":"423c5454.9a220c","type":"ui_gauge","z":"a99b8510.8054b8","tab":"e270ef70.d0a77","name":"Rough value","group":"Intensity","order":1,"format":"{{value}}","min":0,"max":"80","x":375,"y":88,"wires":[]},{"id":"e270ef70.d0a77","type":"ui_tab","z":"a99b8510.8054b8","name":"test","icon":"dashboard","order":"1"},{"id":"3a1aeb33.47d014","type":"serial-port","z":"a99b8510.8054b8","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true}]