rgbNodeRed.txt
[{"id":"aed64631.89f078","type":"inject","z":"a99b8510.8054b8","name":"onLoad","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":124,"y":445,"wires":[["4d6f6cc4.b427b4","50741b7.8f273e4","646df0ae.a4b41"]]},{"id":"4d6f6cc4.b427b4","type":"ui_slider","z":"a99b8510.8054b8","tab":"e270ef70.d0a77","name":"Red","topic":"","group":"RGB LEDs","order":1,"min":0,"max":"100","x":280,"y":179,"wires":[["df7b1107.f088c"]]},{"id":"50741b7.8f273e4","type":"ui_slider","z":"a99b8510.8054b8","tab":"e270ef70.d0a77","name":"Green","topic":"","group":"RGB LEDs","order":1,"min":0,"max":"100","x":281,"y":274,"wires":[["92dac5d7.ac1b68"]]},{"id":"646df0ae.a4b41","type":"ui_slider","z":"a99b8510.8054b8","tab":"e270ef70.d0a77","name":"Blue","topic":"","group":"RGB LEDs","order":1,"min":0,"max":"100","x":281,"y":370,"wires":[["ac107e0e.cc746"]]},{"id":"df7b1107.f088c","type":"function","z":"a99b8510.8054b8","name":"toString","func":"msg.payload = \"pwm03\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":485,"y":227,"wires":[["4fb64e6f.1694"]]},{"id":"92dac5d7.ac1b68","type":"function","z":"a99b8510.8054b8","name":"toString","func":"msg.payload = \"pwm02\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":485,"y":327,"wires":[["4fb64e6f.1694"]]},{"id":"ac107e0e.cc746","type":"function","z":"a99b8510.8054b8","name":"toString","func":"msg.payload = \"pwm04\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":488,"y":430,"wires":[["4fb64e6f.1694"]]},{"id":"4fb64e6f.1694","type":"serial out","z":"a99b8510.8054b8","name":"Arduino","serial":"3a1aeb33.47d014","x":686,"y":134,"wires":[]},{"id":"c46e53c.64315b","type":"serial in","z":"a99b8510.8054b8","name":"Arduino","serial":"3a1aeb33.47d014","x":124,"y":101,"wires":[["9319bc32.748fc"]]},{"id":"9319bc32.748fc","type":"ui_gauge","z":"a99b8510.8054b8","tab":"e270ef70.d0a77","name":"Rough value","group":"Intensity","order":1,"format":"{{value}}","min":0,"max":"80","x":394,"y":101,"wires":[]},{"id":"e270ef70.d0a77","type":"ui_tab","z":"a99b8510.8054b8","name":"test","icon":"dashboard","order":"1"},{"id":"3a1aeb33.47d014","type":"serial-port","z":"a99b8510.8054b8","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true}]
